@charset "UTF-8";

@import "compass";

@import "utilities/my_reset";
@import "utilities/media";
@import "utilities/rem";
@import "utilities/variables";

@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/text";
@import "utilities/animation";

@import "utilities/sprite";
@import "utilities/spriteBrowsers";
@import "utilities/sprites_init";

@import "sections/header";
@import "sections/footer";
@import "sections/forms";

@import "pages/index";

@import "plugins/bootstrap/bootstrap-grid";
@import "plugins/bxslider";
@import "plugins/fancybox";
@import "plugins/overwrite";


html, body
  {
    height: 100%;
    min-height: 100%;
  }

html
  {
    position: relative;

    font-size: 100%;

    @include mobile(){
      font-size: 80%;
    }
  }

body
  {
    @extend %font_base;

    background-color: #fff;
    position: relative;
    color: $c-text;
  }





/* FOR MODERN BROWSERS*/

#{$modernizr-cssanimations}
  {
    body
      {
        opacity: 0;
        animation: 0.4s fadeIn ease-in forwards;
      }
  }

/* END OF FOR MODERN BROWSERS*/






/* DISPLAY */

.w-base { @extend %width_base; }

.w-text 
  {
    @extend %width_base;
    max-width: $width-text - $padding-base-side * 2;
  }

.w-small
  {
    @extend %width_base;
    max-width: 412px - $padding-base-side * 2;
  }

.w-paddings
  {
    padding-left: $padding-base-side;
    padding-right: $padding-base-side;
    box-sizing: border-box;
  }

.w-full
  {
    box-sizing: border-box;
    width: 100%;
  }


.f-zoom{ @extend %floating-fix; }
.f-left { float: left; }
.f-right { float: right; }

.d-t { display: table; }
.d-t_row { display: table-row; }
.d-t_cell { display: table-cell; }

.d-ib { display: inline-block; }
.d-b { display: block; }

.align-v-m { vertical-align: middle; }


section
  {
    margin-top: rem($vertical-rythm * 4);
    margin-bottom: rem($vertical-rythm * 4);
  }

/* END OF DISPLAY */