@charset "UTF-8";

@import "compass";

@import "utilities/my_reset";
@import "utilities/media";
@import "utilities/rem";
@import "utilities/variables";

@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/text";
@import "utilities/animation";

@import "sections/header";
@import "sections/footer";
@import "sections/forms";

@import "plugins/bootstrap/bootstrap-grid";
@import "plugins/overwrite";


html
  {
    position: relative;
    height: auto;
    min-height: 100%;
  }

body
  {
    @extend %font_base;

    background-color: #fff;
    color: $c-text;

    font-size: 100%;

    @include mobile(){
      font-size: 80%;
    }

  }

main[role="main"]
  {
      padding-top: 160px;
      padding-bottom: 160px;

      @include mobile(){
        padding-bottom: 180px;
      }
  }





/* FOR MODERN BROWSERS*/

#{$modernizr-cssanimations}
  {
    body
      {
        opacity: 0;
        animation: 0.4s fadeIn ease-in forwards;
      }
  }

/* END OF FOR MODERN BROWSERS*/






/* DISPLAY */

.w-base { @extend %width_base; }

.w-text 
  {
    @extend %width_base;
    max-width: $width-text - $padding-base-side * 2;
  }

.w-small
  {
    @extend %width_base;
    max-width: 412px - $padding-base-side * 2;
  }

.w-paddings
  {
    padding-left: $padding-base-side;
    padding-right: $padding-base-side;
    box-sizing: border-box;
  }

.w-full
  {
    box-sizing: border-box;
    width: 100%;
  }


.f-zoom{ @extend %floating-fix; }
.f-left { float: left; }
.f-right { float: right; }

.d-t { display: table; }
.d-t_row { display: table-row; }
.d-t_cell { display: table-cell; }

.d-ib { display: inline-block; }
.d-b { display: block; }

.align-v-m { vertical-align: middle; }


section
  {
    margin-top: rem($vertical-rythm * 4);
    margin-bottom: rem($vertical-rythm * 4);

    #{headings()}
      {
        text-align: left;
      }

    &.section__lightgray
      {
        background-color: $c-gray-4;
        padding: rem(20px);
      }
  }

/* END OF DISPLAY */




/* PAGES */

.label__solid
    {
      display: inline-block;
      width: rem(34px);
      height: rem(34px);

      background-size: 70%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

.label__solid_valid
    {
      background-color: $c-green;
      background-image: inline-image('label-valid-white.svg');
    }

.label__solid_invalid
  {
    background-color: $c-red;
    background-image: inline-image('label-invalid-white.svg');
    background-size: 20%;
  }

.catalog__item_title
  {
    @extend %text_uppercase;
    font-weight: 500;
    white-space: nowrap;

    span
      {
        display: inline-block;
        vertical-align: middle;
      }

    .label__solid
      {
        margin-right: rem(10px);
      }

  }

.catalog__item_na
  {
    td { opacity: 0.6; }
  }



.catalog__paging
  {
    font-size: rem(20px);

    input[type="number"]
      {
        width: rem(70px);
        padding-left: rem(5px);
        padding-right: rem(5px);
        text-align: center;
        margin-right: rem(14px);
      }

    span
      {
        color: $c-gray-2;
      }
  }

.catalog__paging_control
  {
    display: inline-block;
    width: rem(50px);
    height: rem(50px);
    background-color: $c-blue;
    border-radius: rem(25px);
    margin-left: rem(14px);
    transition: 0.2s all ease;

    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:first-child
      {
        margin-left: 0;
      }

    &:hover
      {
        background-color: darken($c-blue, 5%);
      }

    &.disabled
      {
        background-color: $c-gray-3;
        cursor: default;
        pointer-events: none;
      }
  }

.catalog__paging_control_prev { background-image: inline-image('paging-prev.svg'); }
.catalog__paging_control_next { background-image: inline-image('paging-next.svg'); }



.product
  {
    .col-md-3
      {
        position: relative;

        .product__label
          {
            position: absolute;
            top: 0;
            right: 15px;
            display: block;
            width: rem(54px);
            height: rem(54px);

            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @media screen and (max-width: $bootstrap-md){
              right: 0;
              width: rem(70px);
              height: rem(46px);
            }
          }
      }



    .product__prop
      {
        padding: rem(14px 0);
        border-top: 1px solid $c-gray-3;

        &:first-child
          {
            padding-top: 0;
            border-top: 0;
          }

        &:lasr-child { padding-bottom: 0; }
      }


    .product__prop_title
      {
        font-size: rem(14px);
        color: $c-gray-2;
        padding-bottom: rem(6px);
      }


    .product__prop_value, .product__prop_group .accordion__tab
      {
        position: relative;

        &:after
          {
            content: "";
            display: block;
            width: rem(20px);
            height: rem(20px);

            position: absolute;
            top: 50%;
            right: 0;
            margin-top: - rem(20px)/2;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
      }


    .product__prop_group
      {
        background-color: $c-gray-4;

        .accordion__tab
          {
            padding-right: rem(30px);
            font-size: rem(14px);

            &:after
              {
                right: rem(10px);
              }
          }
      }


    .product__prop_value
      {
        &.invalid
          {
            &:after { background-image: inline-image('label-invalid-red.svg'); }
          }

        &.valid
          {
            &:after { background-image: inline-image('label-valid-green.svg'); }
          }
      }

    .product__prop_group .accordion__tab
      {
        &.valid
          {
            &:after { background-image: inline-image('label-valid-white.svg'); }

            &.active
              {
                &:after { background-image: inline-image('label-valid-dark.svg'); }
              }
          }


        &.invalid
          {
            &:after { background-image: inline-image('label-invalid-white.svg'); }

            &.active
              {
                &:after { background-image: inline-image('label-invalid-dark.svg'); }
              }
          }
        
      }



    &.valid
      {
        .product__label
          {
            background-color: $c-green;
            background-image: inline-image('label-valid-white.svg');
          }

      }


    &.invalid
      {
        .product__label
          {
            background-color: $c-red;
            background-image: inline-image('label-invalid-white.svg');
            background-size: 13%;
          }
      }



}



/*Accordion*/
.accordion__tab
  {
    cursor: pointer;
    background-color: $c-blue;
    color: #fff;
    @extend %text_uppercase;
    font-weight: 700;
    padding: rem(10px);
    margin-top: rem(10px);

    &:first-child { margin-top: 0; }

    &.active
      {
        background-color: $c-gray-3;
        color: $c-text;
        cursor: default;
      }
  }

.accordion__content
  {
    padding: rem(10px);
  }



/* END OF PAGES */


/*accordion behavior*/

.accordion__content
  {
    opacity: 0;
    display: none;

    &.active
      {
        display: block;
        animation: 0.4s fadeIn linear forwards;
      }
  }
/*end of accordion behavior*/