@charset "UTF-8";

@import "compass";

@import "utilities/my_reset";
@import "utilities/media";
@import "utilities/rem";
@import "utilities/variables";

@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/text";
@import "utilities/animation";

@import "utilities/sprite";
@import "utilities/spriteBrowsers";
@import "utilities/sprites_init";

@import "sections/header";
@import "sections/footer";
@import "sections/forms";

@import "pages/index";

@import "plugins/bootstrap/bootstrap-grid";
@import "plugins/bxslider";
@import "plugins/fancybox";
@import "plugins/overwrite";


html
  {
    position: relative;
    height: auto;
    min-height: 100%;
  }

body
  {
    @extend %font_base;

    background-color: #fff;
    color: $c-text;

    font-size: 100%;

    @include mobile(){
      font-size: 80%;
    }

  }

main[role="main"]
  {
      padding-top: 160px;
      padding-bottom: 160px;

      @include mobile(){
        padding-bottom: 180px;
      }
  }





/* FOR MODERN BROWSERS*/

#{$modernizr-cssanimations}
  {
    body
      {
        opacity: 0;
        animation: 0.4s fadeIn ease-in forwards;
      }
  }

/* END OF FOR MODERN BROWSERS*/






/* DISPLAY */

.w-base { @extend %width_base; }

.w-text 
  {
    @extend %width_base;
    max-width: $width-text - $padding-base-side * 2;
  }

.w-small
  {
    @extend %width_base;
    max-width: 412px - $padding-base-side * 2;
  }

.w-paddings
  {
    padding-left: $padding-base-side;
    padding-right: $padding-base-side;
    box-sizing: border-box;
  }

.w-full
  {
    box-sizing: border-box;
    width: 100%;
  }


.f-zoom{ @extend %floating-fix; }
.f-left { float: left; }
.f-right { float: right; }

.d-t { display: table; }
.d-t_row { display: table-row; }
.d-t_cell { display: table-cell; }

.d-ib { display: inline-block; }
.d-b { display: block; }

.align-v-m { vertical-align: middle; }


section
  {
    margin-top: rem($vertical-rythm * 4);
    margin-bottom: rem($vertical-rythm * 4);

    #{headings()}
      {
        text-align: left;
      }

    &.section__lightgray
      {
        background-color: $c-gray-4;
        padding: rem(20px);
      }
  }

/* END OF DISPLAY */




/* PAGES */

.label__solid
    {
      display: inline-block;
      width: rem(34px);
      height: rem(34px);

      background-size: 70%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

.label__solid_valid
    {
      background-color: $c-green;
      background-image: inline-image('label-valid-white.svg');
    }

.label__solid_invalid
  {
    background-color: $c-red;
    background-image: inline-image('label-invalid-white.svg');
    background-size: 20%;
  }

.catalog__item_title
  {
    @extend %text_uppercase;
    font-weight: 500;
    white-space: nowrap;

    span
      {
        display: inline-block;
        vertical-align: middle;
      }

    .label__solid
      {
        margin-right: rem(10px);
      }

  }

.catalog__item_na
  {
    td { opacity: 0.6; }
  }

/* END OF PAGES */