footer[role='contentinfo']
  {
    color: $c-gray-2;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding-left: $padding-base-side;
    padding-right: $padding-base-side;

   .w-base
    {
      padding: 20px 0;
      border-top: 1px solid $c-gray-2;
    }


     @include maxTablet()
      {

        .footer-row
          {
            .d-t_cell
              {
                display: block;
                text-align: center;
                padding-bottom: $vertical-rythm;
              }
          }
      }
  }