/*======== FORMS VARIABLES & MIXINS & EXTENDS =========*/
$btn-padding-v: 10px;
$inp-padding-v: $btn-padding-v;
$inp-padding-g: 20px;

$inp-margin-b: $vertical-rythm * 0.7;

$color-input-background: $c-gray;
$color-disabled-button-background: darken($c-gray, 5%);

%form_e_base{
	@extend %inline-block;

	@extend %font_base;
	background-color: $color-input-background;

  	border-radius: 2 * $inp-padding-v;
  	border: 0;

  	box-sizing: border-box;
  	padding: $inp-padding-v $inp-padding-g;
  	margin-bottom: $inp-margin-b;

  	&[disabled]{
	    // background-color: lighten($color-input-background, 5%);
	    cursor: default;
	    opacity: 0.8;
  	}
}

%form_b_base{
	text-align: center;
	@extend %link_noline;
	font-weight: 700;

  	appearance: none;
  	border: 0;
  	cursor: pointer;
  	transition: all 0.2s ease-in-out;

  	border-radius: 2 * $btn-padding-v;
}

@mixin btn_col($back, $text: #fff){
	background-color: $back;
	color: $text;

	&:hover{
		background-color: darken($back, 5%);
	}

	&[disabled]{
		background-color: $back;
	}
}






/*======== INPUTS =========*/

input:not([type='submit']){
  @extend %form_e_base;
  color: $c-text;
}



/*======== BUTTONS =========*/
input[type='submit'], button{

	@extend %form_e_base;
	@extend %form_b_base;
	@include btn_col($c-blue);
}

a.btn-red, input.btn-red, button.btn-red{
	@extend %form_e_base;
	@extend %form_b_base;

	@include btn_col($c-red);
}

a.btn-blue, input.btn-blue, button.btn-blue{
	@extend %form_e_base;
	@extend %form_b_base;

	@include btn_col($c-blue);
}

a.btn-green, input.btn-green, button.btn-green{
	@extend %form_e_base;
	@extend %form_b_base;

	@include btn_col($c-green);
}





/*======== OTHER =========*/

.form-inline
	{

	  	@include minMobile(){
	  		display: inline-block;
		  	background-color: $color-input-background;
		  	border-radius: 20px;  //радиус считается (высота_строки кнопки + 2 * padding_по_вертикали + px_box_shadow_вертикальный)/2

		  	input{
		  		margin-bottom: 0;
		  	}

		  	input[type="email"], input[type="text"]{
		    	float: left;
		    	width: 50%;
		    	background-color: transparent;
		    	border: 0;
		  	}

		  	input[type="submit"], input[type="button"]{
		    	float: right;
		    	width: 50%;
		  	}
	  	}

	  	@include mobile(){
	  		input {
	  			display: block;
	  			max-width: 200px;
	  			margin-left: auto;
	  			margin-right: auto;
	  		}
	  	}
	}


.form-inline__ok
	{
		position: relative;

		&:after{
			content: "";
			@include get-sprite('check');

			position: absolute;
			right: -40px;
			top: 10px;

			@include mobile(){
				right: 0;
			}
		}
	}
