/*======== HEADER =========*/

header[role='banner']
  {
    background-color: $c-blue;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-bottom: 100px;

    a
      {
        @extend %link_noline;
        color: #fff;
      }
  }


#header-logo
  {
    @extend %inline-block;
    width: 212px;

    img{
      @extend %i_block;
    }

    @include mobile(){
      width: 180px;
    }
  }



.header-nav
  {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    background-color: $c-blue;

    @extend %inlineBlock-fix;

    li
      {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;

        @extend %font_base;
        @extend %text_uppercase;
        font-weight: 500;

        a
          {
            display: block;
            padding: 20px;
            transition: 0.2s all ease-in;

            &:hover
              {
                background-color: darken($c-blue, 5%);
              }
          }

        &.current-menu-item a
          {
            cursor: default;
            &, &:hover
              {
                background-color: $c-gray-0;
                background-color: $c-gray-0 !important;
              }
          }
      }
  }




#header-nav-toggler { display: none; }

@media (max-width: $mq-menuhide) 
  {
    header[role='banner']
      {
        padding-top: 20px;
        padding-bottom: 20px;
      }

    #header-nav-toggler
      {
        display: block;

        .sprite-basic-hamburger-close { display: none; }

        &.active .sprite-basic-hamburger {display: none; }
        &.active .sprite-basic-hamburger-close {display: inline-block; }
      
      }

    .header-nav
      {
        opacity: 0;
        visibility: hidden;

        position: absolute;
        right: 0;
        left: 0;
        top: 80px;

        padding:  $vertical-rythm/2 $padding-base-side  $vertical-rythm;
    

        li
          {
            display: block;
            margin-left: 0;
            margin-bottom: $vertical-rythm/2;
            text-align: right;
            background-color: rgba($c-gray-0, .5);
          }

        &.active
          {
            opacity: 0;
            visibility: visible;
            animation: 0.3s fadeIn ease-in forwards;
          }
      }
  }


.logged
  {
     header[role='banner'] { background-color: #E02D28; }
     .header-nav
      {
        background-color: #E02D28;
        
        li
          {
            a:hover
              {
                background-color: darken(#E02D28, 5%);
              }
          }
      }
  }
