extends extends/layout.pug

block html
	- var meta_title = 'Каталог - Airalab Rus Monitoring'
	- var authorised = true
	

block content
	.w-text
		h1 Все отслеживаемые по меткам продукты

		section.section__lightgray
			h3 Фильтр

			p.form__label-line
				input(type="checkbox", id="checkbox_1")
				label(for="checkbox_1") Показать только продукты с нарушением