extends extends/layout.pug

block html
	- var meta_title = 'Каталог - Airalab Rus Monitoring'
	- var authorised = true
	

block content
	main(role="main")
		.w-text
			h1 Все отслеживаемые по меткам продукты

			section.section__lightgray
				h3 Фильтр

				p.form__label-line
					input(type="checkbox", id="checkbox_1")
					label(for="checkbox_1") Показать только продукты с нарушением
				p.form__label-line
					input(type="checkbox", id="checkbox_2")
					label(for="checkbox_2") Показать только не проданные продукты

			section
				table.w-full
					thead
						tr
							th Наименование
							th ID
							th Дата изготовления
							th Статус

					tbody
						tr.catalog__item_valid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 40BBF8
							td(data-th="Дата изготовления") 01.07.2018
							td(data-th="Статус")
								span.t-wrap-no в продаже

						tr.catalog__item_valid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 40BBF4
							td(data-th="Дата изготовления") 01.07.2018
							td(data-th="Статус")
								span.t-wrap-no в продаже


						tr.catalog__item_invalid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 40BBF0
							td(data-th="Дата изготовления") 01.07.2018
							td(data-th="Статус")
								span.t-wrap-no в продаже

						tr.catalog__item_na.catalog__item_invalid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 40BBG0
							td(data-th="Дата изготовления") 27.06.2018
							td(data-th="Статус")
								span.t-wrap-no снят с продажи

						tr.catalog__item_valid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 30ABF4
							td(data-th="Дата изготовления") 03.07.2018
							td(data-th="Статус")
								span.t-wrap-no в продаже

						tr.catalog__item_na.catalog__item_valid
							td
								a.catalog__item_title(href="#")
									span.label__solid
									span Торт «медовый»
							td(data-th="ID") 40BBG0
							td(data-th="Дата изготовления") 25.06.2018
							td(data-th="Статус")
								span.t-wrap-no продан

			section.catalog__paging
				.d-t.w-full
					.d-t_cell.align-v-m
						input(type="number", value="1")
						span из 5
					.d-t_cell.align-v-m.t-align-right
						a.catalog__paging_control.catalog__paging_control_prev.disabled(href="#")
						a.catalog__paging_control.catalog__paging_control_next(href="#")