extends extends/layout.pug

//- block html
//- 	- var bodyclass = 'page-index'

block head
	- var pageTitle = 'Airalab Rus Monitoring – log in'

block content
	//- .w-text
	//- 	h1 Мы проводим эксперименты с Умными городами и Индустрией 4.0 в России

	//- #page-index__banner
	//- #page-index__banner_lines: span