footer(role='contentinfo')
	.w-base
		.footer-row.d-t.w-full
			.d-t_cell.align-v-m
				form.form-inline.form-inline__ok
					input(type="email", placeholder="Ваш e-mail", required)
					input.btn-green(type="submit", value="Подписка оформлена")

				//- form.form-inline
				//- 	input(type="email", placeholder="Ваш e-mail", required)
				//- 	input.btn-red(type="submit", value="Подписка на новости")

			.d-t_cell.align-v-m.t-align-right
				span.t-color-red Пишите на: 
				a(href="mailto:ping@airalab.org") ping@airalab.org