footer(role='contentinfo')
	.w-base
		.footer-row.d-t.w-full
			.d-t_cell.align-v-m
				| @2018  АНО ИЦР «Аиралаб Рус» совместно с ООО «Фабрика Качества»
			.d-t_cell.align-v-m.t-align-right
				a(href="http://airalab.org/", target="_blank") airalab.org