header(role='banner')
	.w-base
		.d-t.w-full
			.d-t_cell.align-v-m
				a#header-logo(href="index.html")
					img(src='assets/i/logo-airalabrus-monitoring.png', srcset='assets/i/logo-airalabrus-monitoring@2x.png')

			.d-t_cell.align-v-m.t-align-right

				a#header-nav-toggler(href="#")
					span.sprite-basic-hamburger
					span.sprite-basic-hamburger-close

				ul.header-nav
					li(class= nav == "1" ? "current-menu-item" : ""): a(href="#") О проекте
					li(class= nav == "2" ? "current-menu-item" : ""): a(href="#") Поддержка
					li(class= nav == "3" ? "current-menu-item" : "")
						if authorised === true
							a(href="#") admin / выйти
						else
							a(href="#") Вход для персонала