/* EXTENDS */

%font_base
	{
		font-size: rem($font-size-basic);
		line-height: 1.2;
		font-family: $font-family-base;
		word-spacing: normal;
		letter-spacing: 0;
	}




/* TEXT STYLES */

@for $i from 2 through 5
	{
	  h#{$i}{
	    font-size: $font-size-title - 3 * $i;
	  }
	}


#{headings()}
	{
		margin-top: $vertical-rythm*2;
		margin-bottom: $vertical-rythm;
		@extend %text_uppercase;
		text-align: center;

	  	&:first-child
		  	{
		  		margin-top: 0;
			}
	}


h1
	{
		font-size: rem($font-size-title);
		@extend %text_uppercase;
        font-weight: 700;
        line-height: 1.5;

        margin-bottom: $vertical-rythm * 2;
	}


a 
	{
	  @include hover-link;
	  color: $c-blue;
	  transition: 0.2s ease-in color, border-color;
	}


ul, ol
	{
	  margin-left: 20px;
	  margin-bottom: $vertical-rythm;

	  ul, ol{
	  	margin-top: $vertical-rythm;
	  }
	}



li, p, blockquote
	{
	  margin-bottom: $vertical-rythm;

	  &:last-child{
	  	margin-bottom: 0;
	  }
	}


.t-wrap-no { white-space: nowrap; }

.t-color-red { color: $c-red; }
.t-color-blue { color: $c-blue; }
.t-color-green { color: $c-green; }
.t-color-white { color: #fff; }

.t-align-center { text-align: center; text-align: center!important; }
.t-align-right { text-align: right; }
.t-align-left { text-align: left; }



/*TABLES*/
table
	{
		@include rem_static();

		td, th
			{
				padding: rem(14px);
			}


		th
			{
				text-align: left;
				border-bottom: 1px solid $c-gray-2;

				@include mobile() { display: none; }
			}

		td
			{

				@include mobile()
					{
						display: block;
						padding: rem(10px);

						&[data-th]
							{
								&:before
									{
										content: attr(data-th) ':';
										font-weight: 700;
										margin-right: rem(14px);
									}
							}

						
					}
			}

			tr
				{
					border-bottom: 1px solid $c-gray-3;

					@include mobile()
						{
							td
								{
									&:first-child { padding-top: rem(24px); }
									&:last-child { padding-bottom: rem(24px); }
								}

							&:first-child td:first-child { padding-top: 0; }
							&:last-child td:last-child { padding-bottom: 0; }
						}

					&:last-child
						{
							border-bottom: none;
						}
				}
	}





// .t-paragraph-hyphened {
// 	text-align: justify;
// 	hyphens: auto;
// }