$mq-desktop: 1280px;
$mq-tablet: 750px;
$mq-mobile: 600px;
$mq-menuhide: 830px;

$width-text: 780px;

$padding-base-side: 20px;


$c-blue: #03A5ED;
$c-dark: #333;
$c-dark-green: #2C4C4B;
$c-green: #3C9E1A;
$c-orange: #F15A24;
$c-red: #C1272D;


$c-text: $c-dark;
$c-gray: #ccc;

$c-gray-0: #282A2B;
$c-gray-1: #444A4D;
$c-gray-2: #747677;
$c-gray-3: #C0C3C4;
$c-gray-4: #EFEFEF;


$font-size-basic: 16px;
$font-size-title: 26px; //h1
$font-family-base:  'Roboto', Arial, Helvetica, sans-serif;
$font-family-second:  'a_AlbionicExpBold', Trebuchet MS, Arial, Helvetica, sans-serif;
$vertical-rythm: $font-size-basic * 1.2;


$modernizr-nosvg: '.no-svg';
$modernizr-svg: '.svg';
$modernizr-cssanimations: '.cssanimations';


// $bootstrap-sm: 576px;
// $bootstrap-md: 768px;

$grid-breakpoints: (
  sm: 320px,
  md: 900px
);

$bootstrap-md: 900px;

$rem-fallback: true;